/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {

  --color-background: var(--vt-c-white);
  --color-background-alt: rgba(244, 244, 244, 1);

  --color-primary: rgba(231, 55, 119, 1);
  --color-primary-light: rgba(231, 55, 119, 0.2);
  --color-primary-dark: rgba(186, 35, 90, 1);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-text: rgba(0, 0, 0, 1);
  --color-text-subtle: rgba(76, 76, 76, 1);

  --color-error-light: rgba(255, 228, 228, 1);
  --color-error: rgba(231, 55, 58, 1);
  --color-error-dark: rgba(186, 35, 38, 1);

  --section-gap: 160px;
}